.header {
  padding: 10px;
  /* border-bottom: 2px solid wheat;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12); */


  background-color: rgb(123, 240, 240);
  border: 2px solid blue;
  border-radius: 8px;
}